@charset "UTF-8";

@media screen and (min-width: 768px){
    span#burguer{
        display: none;
    }
    header{
        background-image: linear-gradient(to top, rgb(41, 41, 41), rgb(158, 158, 158))
    }
    
    menu{
        display: block;  
          
    }
    
    menu > ul >li {
        display: inline-block;
        width: 70px;
        padding-top: 10px;
        
    }

    menu > ul > li > a{
        background-color: rgba(87, 86, 86, 0.466);
        
        border: 0px;
        
    }

    menu > ul > li > a:hover{
        border-radius: 10px;
        color: black;
    }

    main{
        width: 768px;
    }
    }